*{
    margin: 0;
}
.footer-content{
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: rgb(236, 236, 236);
    border-top: 1px solid rgb(211, 211, 211);
}
.nav-content{
    padding-top: 25px;
    height: 70px;
    background-color: rgb(236, 236, 236) ;
    border-bottom: 1px solid rgb(211, 211, 211);
    font-size: 15px;
}
.nav-content .right{
    margin-left: 85%;
    margin-top: -23px;
}
.home-content{
    margin: 70px 0 70px 0;
}
.home-content .title{
    text-align: center;
    font-size: 30px;
}
.form-input{
    height: 40px;
    border-radius: 2px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
}
.btn-search{
    border-radius: 50px;
}
